* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* center header */
header {
  height: 60px;
  margin-top: 10px;
  text-align: center;
}
h1 {
  /* Cool font for name */
  font-size: 2.2em;
}
nav {
  display: flex;
  flex-direction: column;
  background-color: #d8a47f;
}
nav a {
  color: #13293d;
  font-size: 1.2em;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  color: lightblue;
}

#headshot {
  border-radius: 25% 25%;
  max-width: 65%;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
#subtitle {
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
  padding: 5px 0;
  text-decoration: underline;
}

.content {
  text-align: center;
  background-color: #5b0e2d;
  color: white;
  padding-bottom: 20px;
}

#About-Me p {
  margin: 0 5%;
}

#Work-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20%;
  padding-left: 1%;
  border-left: 2px solid white;
  /* flex-direction: column; */
}

figure {
  position: relative;
}

#image-caption {
  position: absolute;
  font-size: 1.5em;
  bottom: 0;
  left: 15%;
  background-color: white;
  border: 5px solid black;
  padding: 1%;
  color: black;
}

.top-portfolio-piece {
  width: 95%;
}

.top-portfolio-piece:hover {
  opacity: 0.5;
}
.portfolio-piece:hover {
  opacity: 0.5;
}

.portfolio-piece {
  width: 45%;
  margin: 2.5%;
}

.portfolio-piece--img {
  height: auto;
  width: 75%;
}

@media (min-width: 800px) {
  nav {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (min-width: 800px) {
  #headshot {
    max-width: 500px;
  }
}

@media (min-width: 800px) {
  h3 {
    text-align: left;
    margin-left: 5%;
    text-decoration: none;
  }
}
@media (min-width: 800px) {
  #About-Me p {
    margin-left: 20%;
    text-align: left;
    padding-left: 1%;
    border-left: 2px solid white;
  }
}

@media (min-width: 800px) {
  #contact-links p:first-child {
    border-left: 2px solid white;
    padding-left: 1%;
    text-align: left;
    margin-left: 20%;
  }
  #contact-links p {
    display: inline-flex;
    padding: 0 3%;
  }
}
@media (max-width: 1000px) {
  #Work-images {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0;
  }

  .portfolio-piece {
    width: 80%;
    margin: 2.5%;
  }
}
a {
  text-decoration: none;
  color: white;
}
p a:hover {
  color: lightblue;
}
