*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* center header */
header{ 
    height: 60px;
    margin-top: 10px; 
    text-align: center;
}
h1{
    font-size: 2em;   
}
nav {
    display: flex;
    flex-direction: column;
    background-color: #d8a47f;
}
nav a {
    color: #13293d;
    font-size: 1.2em;
    padding: 14px 20px; 
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    color: lightblue;
}
#background-image{
    position: relative;
    width:60%;
    max-height: 200px;
} 
#headshot{
    max-height: 200px;
    width: 40%;
}
.images{
    display: flex;
}



@media (min-width: 800px) {
    nav{ 
    flex-direction: row;
    justify-content: flex-end;
    }
}